@import "../../variables.scss";

.section {
	margin-top: 250px;
}
.list {
	min-height: 200px;
	height: 400px;
	width: 90%;
	padding: 10px 0;
	margin: 0 auto;
	background-color: whitesmoke;
	list-style-type: none;
	overflow: scroll;
	overflow-x: hidden;
	border-top: 10px solid whitesmoke;
	border-bottom: 10px solid whitesmoke;


	@media (min-width: $breakpoint-sm) {
		width: 70%;
	}

	@media (min-width: $breakpoint-md) {
		width: 40%;
	}

	@media (min-width: $breakpoint-lg) {
		width: 30%;
	}

	&--labels {
		position: fixed;
		z-index: 4000;
		margin-top: 200px;
		min-height: 50px;
		display: flex;
		justify-content: space-around;
		padding: 10px;
		border-bottom: 1px solid white;
	}

	&__column {
		display: flex;
		justify-content: left;
		align-items: center;

		h3 {
			text-transform: uppercase;
			color: grey;
		}

		&--title {
			width: 50%;
		}
	}

	&__item {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: calc(100% - 20px);
		height: 75px;
		margin: 5px 10px;
		padding: 10px;
		border-top: none;
		border-bottom: 2px solid $light;
		background-color: white;
		transition: all 0.3s ease-in-out;
		cursor: pointer;
		overflow: hidden;

		&:hover {
			background-color: $light;
		}

		&--true {
			background-color: $light;
			border-bottom: 2px solid $sea;
		}

		&__icon {
			transition: all 0.3s ease-in-out;
			cursor: pointer;
			border: none;
			background-color: rgba(255,255,255, 0);

			svg {
				color: #b54b41;
				font-size: 2rem;
			}

			&--close {
				transition: all 0.3s ease-in-out;
				color: #b54b41;
				margin:5px;

				&:active {
					pointer-events: none;
				}

				&:hover {
					color: #cc4639;
				}
			}

			&--false {
				color:lightsteelblue;
			}
			&--true {
				color: lightseagreen;
			}
		}

		&__task {
			pointer-events: none;
			margin-left: 5px;

			&__text {
				text-transform: capitalize;
				font-family: $paragraph;
				font-size: 14px;
				font-weight: 600;
				pointer-events: none;

				&--true {
					color: grey;
					text-decoration: line-through;
					text-decoration-color: grey;
				}
			}

			svg {
				margin-right: 10px;
				font-size: 1.8rem
			}
		}

		&__time {
			display: flex;
			align-items: center;
			position: absolute;
			top: -2px;
			right: 0px;
			width: max-content;
			margin: 5px;
			font-family: "Montserrat", sans-serif;
			font-size: 10px;
			font-weight: 500;
			text-transform: uppercase;
			color: grey;

			svg {
				font-size: 1rem;
				margin: 0 5px 0 0;
			}
		}
	}
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}