@import "../../variables.scss";

.tools {
	position: fixed;
	top: 0;
	z-index: 40000;
	margin: 200px auto 0 auto;
	background-color: white;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	&__button {
		margin: 0px 5px
	}
}