@import "../../variables.scss";

.tools {
	width: 90%;
	margin: 0 auto;
	padding: 10px;
	display: flex;
	justify-content: flex-end;

	@media (min-width: $breakpoint-sm) {
		width: 60%;
	}

	@media (min-width: $breakpoint-md) {
		width: 40%;
	}

	@media (min-width: $breakpoint-lg) {
		width: 30%;
	}

	button {
    padding: 5px 15px;
		margin: 10px 0;
		border: 2px solid $deepsea;
    border-radius: 5px;
    background-color:white;
		transition: all 0.3s ease-in-out;
		cursor: pointer;
		color: $deepsea;
		font-family: $paragraph;
		text-transform: uppercase;

		&:hover {
			box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.55);
		}
	}
}