@import "../../variables.scss";

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 200px;

	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 90%;
		margin: 0 auto;
		background-color: lightseagreen;
		border-radius: 3px;

		@media (min-width: $breakpoint-sm) {
			width: 70%;
		}

		@media (min-width: $breakpoint-md) {
			width: 40%;
		}
	
		@media (min-width: $breakpoint-lg) {
			width: 30%;
		}

		&__title {
			margin: 20px 10px 10px 10px;
			font-family: $header;
			font-size: 1.8em;
			font-weight: 700;
			text-transform: uppercase;
			color: white;
			letter-spacing: 4px;
		}

		&__button {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 70%;
			padding: 5px 20px;
			margin: 10px 10px 30px 10px;
			border: none;
			border-radius: 3px;
			background-color: $deepsea;
			transition: all 0.3s ease-in-out;
			cursor: pointer;
			color: white;
			font-family: $paragraph;
			text-transform: uppercase;

			&:hover {
				box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.55);
			}

			svg {
				font-size: 1rem;
			}
		}
	}

	input {
		height: 27px;
		width: 70%;
		border: none;
	}
}