$header: 'Montserrat', sans-serif;
$paragraph: 'Open Sans', sans-serif;

$breakpoint-sm: 460px;
$breakpoint-md: 768px;
$breakpoint-lg: 990px;
$breakpoint-xl: 1200px;

$sea: lightseagreen;
$deepsea: #16847e;
$purple: rgba(118, 108, 158, 1);
$lightpurple: #9389bb;
$light: #e7e6ea;